
<h1 style="color: black;text-align: center;font-family: Arial, Helvetica, sans-serif;">INDIAN TOURISM</h1>
<app-carousal></app-carousal>
<p>Indian tourism is renowned for its diversity, offering experiences that range from natural wonders to rich cultural heritage. Here's a brief description:

    India, often referred to as the "Incredible India," is a land of vibrant culture, historic monuments, and breathtaking landscapes. With its majestic Himalayan peaks in the north, serene beaches in the south, lush forests in the northeast, and vast deserts in the west, the country offers something for every traveler. Iconic landmarks like the Taj Mahal, Jaipur's palaces, and Kerala's backwaters showcase its architectural and natural beauty.
    
    The spiritual allure of places like Varanasi, Rishikesh, and Bodh Gaya draws pilgrims from across the globe. Adventure enthusiasts can indulge in trekking, skiing, or river rafting, while wildlife lovers can explore national parks such as Ranthambore and Kaziranga.
    
    India's festivals, cuisine, and traditional art forms further enrich the travel experience. From bustling metropolises like Mumbai and Delhi to tranquil villages, India is a mosaic of contrasts that leaves a lasting impression on visitors.
    </p>